.list_select {
  max-width: 100%;
  border: none;
  margin: 0 4px;
  font-size: 18px;
  border-radius: 8px;
  padding: 6px 8px;
  background-color: var(--color-white);
  outline: none;
  cursor: pointer;
}