.button,
.button_active {
  min-width: 110px;
  margin: 0 4px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  align-self: flex-start;
  opacity: 0.8;
  cursor: pointer;
  transition: var(--transition-basic);
}

.button_disabled {
  min-width: 110px;
  margin: 0 4px;
  padding: 6px 12px;
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  align-self: flex-start;
  opacity: 0.54;
}

.button:hover {
  background-color: var(--color-white);
  opacity: 1;
}

.button_active {
  background-color: var(--color-blue-normal);
  color: var(--color-white);
}

.button_active:hover {
  opacity: 1;
  background-color: var(--color-blue-darker);
  color: var(--color-white);
}